h1,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-optical-sizing: auto;
  color: #0d1a10;
}

body {
  background-color: #f6faf6;
  text-align: center;
}
