.nav {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    gap: 20px;
    align-items: center; 
}
.nav__logo {
    justify-self: end;
    font-weight: 800;
    font-size: 32px;
    text-transform: capitalize;
}