$themes: (
  light: (
    text: #0c270c,
    background: #e6f9e6,
    primary: #4db350,
    secondary: #4ad34a,
    accent: #01d001,
  ),
  dark: (
    text: #cad3f5,
    background: #24273a,
    primary: #8aadf4,
    secondary: #c6a0f6,
    accent: #a6da95,
  ),
);

@each $name,
$map in $themes {
  @media (prefers-color-scheme: #{$name}) {
    :root {

      @each $key,
      $value in $map {
        --#{$key}: #{$value};
      }
    }
  }
}